.row{
    padding-top: 10%;
}
.row2{
    padding-bottom: 10%;
}
.textbl1{
    font-size: xx-large;
    font-weight: 700;
    padding: 50px;
}
.imgF{
    padding: 20px;
    height: 400px;
}
.bl{
    padding-top: -500px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}